<nav class="py-4 bg-gray-900 fixed top-0 w-full z-10">
    <div class="container flex flex-wrap justify-between mx-auto">
      <p class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap text-green-600">Sports Scheduler</span>
      </p>
      <div class="space-x-4">
        <a href="/updatePassword" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded font-medium">
            Reset Password
          </a>
        <a href="/signout" class="text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded font-medium">
          Sign Out
        </a>
      </div>
    </div>
  </nav>