<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>
<body class="bg-green-100">
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <p class="pt-10 py-2 text-xl">Welcome to the Sports Scheduler</p>
                <p class="py-2 px-4">New here?   <a href="/signup" class="text-green-800 hover:underline">Sign up</a></p>
                <p class="py-2 px-4">Already have an account?   <a href="/login" class="text-green-800 hover:underline">Sign in</a></p>
            </div>
        </div>  
</body>